%p= "Title: #{@job.title}"
%br/
%p= "Description: #{@job.description}"
%br/
%p= "Level of Interest: #{@job.level_of_interest}"
%br/
%p= "City: #{@job.city}"
%br/
%p
  = "Company: "
  = link_to @job.company.name, company_path(@job.company)
%br/
%p
  = "Category: "
  = link_to @job.category.title, category_path(@job.category)
