%h1 All Categories

- @categories.each do |category|
  .col-md-4
    %div{class: "panel panel-default category-#{category.id}"}
      .panel-heading
        %h4
          = link_to category.title, category_path(category)
          = "(#{category.jobs.count} jobs)"
      .panel-body
        %button{type:"button", class:"btn btn-md btn-info"}
          = link_to "Edit", edit_category_path(category)
        %button{type:"button", class:"btn btn-md btn-danger"}
          = link_to "Delete", category_path(category), method: :delete
